# Build outputs
**/bin/
**/obj/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# NuGet
*.nupkg
*.snupkg

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Ignore all training data CSVs
faultDetection_service/data/**/*.csv

# Ignore all pkl models
faultDetection_service/artifacts/**/*.pkl